@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #8fc7c3;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;

}

.logo {
  width: 35%;
	display: flex;
	margin: 0;
}

h1 {
  margin: 0;
  color: white;
  text-align: left;
  padding-top: 1em;
  padding-left: 1em;
}

img {
  margin: 0;
}

nav {
  width: 100%;
  text-align: center;
  padding: 0;
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #8fc7c3;
  font-family: 'Josefin Sans', sans-serif;

}

li:hover {
  background-color: #006974;
}

a:hover {
  color: white;
}

.nav {
  display: none;
	background-color: rgba(255, 225, 255, 0.85);
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
	width: 100%;
	position: absolute;
	right: 0;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  top: 3em;
  right: -2em;
}

.nav-check:checked ~ .nav-label {
  background-color: black;
}

.nav-icon-open {
  width: 20%;
  margin: 0;
}

.nav-icon-close {
  display: none;
}

.banner {
	width: 100%;
	overflow: hidden;
}

h2 {
	color: #006974;
	font-family: 'Josefin Sans', sans-serif;
	font-style: oblique;
}

.info {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: lighter;
	color: #8fc7c3;
	text-align: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	color: #006974;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0;
}

.title-1, .title-2, .title-3, .title-4,
.title-5, .title-6, .title-7, .title-8 {
	margin: 0;
}

.p-1, .p-2, .p-3, .p-4,
.p-5, .p-6, .p-7, .p-8 {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding-left: 0.5em;
	color: #8fc7c3;
}

.work-1, .work-2, .work-3, .work-4,
.work-5, .work-6, .work-7, .work-8 {
	width: 80%;
	padding-top: 1em;
}
