@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

.no-scroll {
	overflow: hidden;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.bg-color {
  background-color: #8fc7c3;
}

.logo {
  width: 30%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 1em;
	left: 1em;
}

h1 {
  margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}

img {
  margin: 0;
}

nav {
  width: 100%;
  text-align: center;
  padding: 0;
  background-color: #8fc7c3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #006974;
  font-family: 'Josefin Sans', sans-serif;

}

a {
	text-decoration: none;
}

.underline:hover {
  color: white;
	border-bottom: thick solid #fff;
}

.nav {
  display: none;
	background-color: rgba(255, 225, 255, 0.85);
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
	width: 15rem;
	position: absolute;
	right: 1em;
	top: 80%;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
	display: inline-block;
	width: 40px;
  position: absolute;
  top: 1em;
  right: 1em;
}

.nav-icon-open,
.nav-icon-open {
	display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  background-color: grey;
}

.nav-icon-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-icon-open {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-icon-close {
	display: block;
}

.banner {
	width: 100%;
}

h2 {
	color: #006974;
	font-family: 'Josefin Sans', sans-serif;
	font-style: oblique;
	padding-top: 1em;
}

p {
	font-family: 'Josefin Sans', sans-serif;
}

.profile {
	width: 55%;
}

.info {
	font-family: 'Josefin Sans', sans-serif;
	color: #8fc7c3;
	text-align: center;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.info2 {
	font-family: 'Josefin Sans', sans-serif;
	color: #8fc7c3;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
}

.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.blur img:hover {
  -webkit-filter: blur(2px);
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	color: #006974;
	padding-left: 0.5em;
	padding-top: 1em;
	padding-right: 0.5em;
	margin: 0;
}

.title-1, .title-2, .title-3, .title-4,
.title-5, .title-6, .title-7, .title-8 {
	margin: 0;
}

.p-1, .p-2, .p-3, .p-4,
.p-5, .p-6, .p-7, .p-8 {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	padding-left: 0.5em;
	color: #8fc7c3;
}

.work-1, .work-2, .work-3, .work-4,
.work-5, .work-6, .work-7, .work-8 {
	width: 80%;
	padding-top: 1em;
}

.work-1:hover {
	background-color: #8fc7c3;
}

.work-2:hover {
	background-color: #8fc7c3;
}

.work-3:hover {
	background-color: #8fc7c3;
}

.work-4:hover {
	background-color: #8fc7c3;
}

.work-5:hover {
	background-color: #8fc7c3;
}

.work-6:hover {
	background-color: #8fc7c3;
}

.work-7:hover {
	background-color: #8fc7c3;
}

.work-8:hover {
	background-color: #8fc7c3;
}

.lightbox {
	display: none;
	visibility: hidden;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.lightbox.active {
	display: block;
	visibility: visible;
	z-index: 10000000000;
	overflow-y: scroll;
}

.lightbox.active * {
	position: relative;
}

/*
.lightbox {
	position: fixed;
	left: 100%;
	right: -100%;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: all 200ms ease-out;
}

.lightbox[data-state="visible"] {
	opacity: 1;
	left: 0;
	right: 0;
}

.lightbox-container {
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 15px;
	top: 15px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 1px 1px 6px #000;
}

.lightbox-img {
	display: block;
	width: 100%;
}

.lightbox-content {
	position: absolute;
	top: 50%;
	bottom: 50%;
	width: calc(100% - 2em);
	transform: translate(-50%, -50%);
}
*/

h4 {
	font-family: 'Josefin Sans', sans-serif;
	color: #006974;
}

.contact-pic {
	width: 40%;
}

.name {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	color: #006974;
	margin: 0;
}

.email {
	margin: 0;
}

.link, .behance, .insta, .twitter {
	width: 10%;
	display: inline-block;
}

footer {
	background-color: #006974;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.cc {
	margin: 0;
	padding-left: 1em;
	font-size: 10pt;
}

.logo-2 {
	width: 30%;
	padding-right: 1em;
	padding-top: 1em;
}


/*
Beginning of portfolio.html
*/


.icon {
	width: 35%;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
}

.artwork {
	width: 90%;
}

.artwork-2 {
	width: 800%;
}

.artwork-4 {
	width: 70%;
}

.pages {
	width: 80%;
}

.artwork-6 {
	width: 80%;
}

.artwork-8 {
	width: 50%;
}

.motion-vid {
	width: 100%;
}

hr {
    display: block;
    border-style: 10px solid #006974;
    width: 5%;
    margin: 0 auto;
		padding: 0;
}

.work-discrption {
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 3em;
}

.work-discrption-2 {
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 3em;
}

.h3-p {
	background-color: #006974;
	color: white;
	padding-bottom: 1em;
	margin: 0;
}

.process {
	padding-left: 2em;
	padding-right: 2em;
	color: white;
}

.process-bg {
	background-color: #006974;
	padding-bottom: 2em;
}

.h3-c {
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

.challenges {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
}

.challenges-bg {
	padding-bottom: 1em;
}

.footer2 {
	background-color: #8fc7c3;
}

.work-link {
	padding-bottom: 2em;
}

.more-info {
	margin: 0;
	color: white;
}

.btn {
	margin-bottom: 2em;
}

.wrong {
	color: #8fc7c3;
	margin: 0;
	padding-top: 1em;
}

.not-found {
	margin: 0;
	padding-left: 1em;
	padding-right: 1em;
}

.grid .wrong-img {
	padding: 0;
	width: 300px;
}

.wrong-2 {
	margin: 0;
	padding-top: 1em;
}

@media only screen and (min-width: 38em) {
	.logo {
		width: 20%;
	}

	nav {
		position: absolute;
		top: 0;
		right: -1em;
	}

	li a {
		padding-left: 1em;
		padding-right: 1em;
	}

	nav li {
		display: inline-block;
		text-align: center;
	}

	.nav {
		background-color: rgba(0, 0, 0, 0.0);
		display: inline-block;
		width: 100%;
		position: absolute;
		right: 2em;
		text-align: right;
		top: 1em;

	}

	.nav-icon-open,
	.nav-icon-close {
		display: none;
	}

	.info, .info2 {
		text-align: left;
	}

	.contact-pic {
		padding-bottom: 2.5em;
		width: 50%;
	}

	.icon {
		width: 20%;
	}

	.artwork {
		width: 80%;
	}

	.artwork-2 {
		width: 70%;
	}

	.artwork-4 {
		width: 50%;
	}

	.motion-vid {
		width: 80%;
		margin-left: 1em;
		margin-right: 1em;
	}

	.work-discrption {
		padding-left: 3.5em;
		padding-right: 3.5em;
	}

	.work-discrption-2 {
		padding-left: 12em;
		padding-right: 12em;
	}

	.brosmind {
		padding-left: 8em;
		padding-right: 8em;
	}

	.h3-p {
		background-color: white;
		color: #006974;
	}

	.process-bg {
		padding-top: 2.5em;
	}

	.challenges {
		padding-top: 0;
	}

	.challenges-bg {
		padding-bottom: 2em;
	}

	.btn {
		width: 30%;
	}

	.wrong {
		padding-top: 0;
	}

	.wrong-img {
		width: 30%;
		height: 30%;
	}
}

@media only screen and (min-width: 62em) {
	.work-discrption-2 {
		padding-left: 15em;
		padding-right: 15em;
	}
}
