{% assign data=include.data %}

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center pad-t-2 pad-b">
  <iframe class="motion-vid" src="https://player.vimeo.com/video/190503128" width="840" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center milli">
  <h2>Flight Time App</h2>
</div>
<hr class="center">
<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
  <p class="work-discrption-2">The Flight Time app is an app that helps users create a better exprience waiting at the airport/taking a flight. This app helps ease the user while they are waiting at the airport by knowing when to catch the flight so they won't panic. It would create a better exprience going on a trip for the users.</p>
</div>

  <div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
    <h3 class="h3-p">Process</h3>
  </div>

<div class="process-bg">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <img class="artwork" src="http://placehold.it/400x300" alt="">
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <p class="process pad-t">The Flight Time App started out as a simple project with the idea of having to wait at the airport and have nothing to do and being afraid to explore. Sketches and prototying was done to create the perfect expirence for the users.</p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
  <h3 class="h3-c">Challenges</h3>
</div>

<div class="challenges-bg">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <img class="artwork" src="http://placehold.it/900x600" alt="">
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <p class="challenges">The challenge was to make the app flow simple and easy to follow while having all the features that is needed. It is important to have the flow perfect for users to have a good user experience.</p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 btn center">
  <a class="text-center" href="https://www.behance.net/gallery/43407167/Outdoor-Summer-Days-Brosmind-Inspired"><p class="more-info">More Info</p></a>
</div>

<!-- {% assign data=include.data %}

<div>
  <div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center pad-t-2 pad-b">
    <img class="artwork-2" src="{{site.baseurl}}/{{data.media}}" alt="">
  </div>

  <div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center milli pad-t">
    <h2>{{data.title}}</h2>
    <hr class="center">
    <p class="work-discrption-2">{{data.discription}}</p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
  <h3 class="h3-p">{{data.heading2}}</h3>
</div>

<div class="process-bg">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <img class="artwork" src="{{site.baseurl}}/{{data.image}}" alt="">
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <p class="process pad-t">{{data.info}}</p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
  <h3 class="h3-c">{{data.heading3}}</h3>
</div>

<div class="challenges-bg">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <img class="artwork" src="{{site.baseurl}}/{{data.image2}}" alt="">
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <p class="challenges">{{data.info2}}</p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 btn center">
  <a class="text-center" href="https://www.behance.net/gallery/43407167/Outdoor-Summer-Days-Brosmind-Inspired"><p class="more-info">More Info</p></a>
</div> -->

<h1>hello</h1>
