{% assign data=include.data %}

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center pad-t-2 pad-b">
  <iframe class="motion-vid" src="https://player.vimeo.com/video/190503128" width="840" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center milli">
  <h2>{{data.title}}</h2>
</div>
<hr class="center">
<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
  <p class="work-discrption-2">{{data.discription}}</p>
</div>

  <div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
    <h3 class="h3-p">{{data.heading2}}</h3>
  </div>

<div class="process-bg">
  <!--<div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <img class="artwork" src="{{site.baseurl}}/{{data.image}}" alt="">
  </div>-->
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <p class="process pad-t">{{data.info}}</p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
  <h3 class="h3-c">{{data.heading3}}</h3>
</div>

<div class="challenges-bg">
  <!--<div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <img class="artwork" src="{{site.baseurl}}/{{data.image2}}" alt="">
  </div>-->
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <p class="challenges">{{data.info2}}</p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 btn center">
  <a class="text-center" href="https://www.behance.net/gallery/43407167/Outdoor-Summer-Days-Brosmind-Inspired"><p class="more-info">More Info</p></a>
</div>
