{% assign data=include.data %}

<div>
  <div class="unit xs-1 s-1 m-1 l-1-2 xl-1-2 text-center pad-t-2 pad-b">
    <img class="artwork-4" src="{{site.baseurl}}/{{data.media}}" alt="">
  </div>

  <div class="unit xs-1 s-1 m-1 l-1-2 xl-1-2 text-center milli pad-t">
    <h2>{{data.title}}</h2>
    <hr class="center">
    <p class="work-discrption">{{data.discription}}</p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
  <h3 class="h3-p">{{data.heading2}}</h3>
</div>

<div class="process-bg">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center pad-t">
    <img class="pages" src="{{site.baseurl}}/{{data.page1}}" alt="">
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center pad-t">
    <img class="pages" src="{{site.baseurl}}/{{data.page2}}" alt="">
  </div>

  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center pad-t">
    <img class="pages" src="{{site.baseurl}}/{{data.page3}}" alt="">
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center pad-t">
    <img class="pages" src="{{site.baseurl}}/{{data.page4}}" alt="">
  </div>

  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center pad-t">
    <img class="pages" src="{{site.baseurl}}/{{data.page5}}" alt="">
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center pad-t">
    <img class="pages" src="{{site.baseurl}}/{{data.page6}}" alt="">
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 text-center">
  <h3 class="h3-c">{{data.heading3}}</h3>
</div>

<div class="challenges-bg">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <img class="artwork" src="{{site.baseurl}}/{{data.image}}" alt="">
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-center">
    <p class="challenges">{{data.info}}</p>
  </div>
</div>

<div class="unit xs-1 s-1 m-1 l-1 xl-1 btn center">
  <a class="text-center" href="https://www.behance.net/gallery/43407167/Outdoor-Summer-Days-Brosmind-Inspired"><p class="more-info">More Info</p></a>
</div>
